@import "~jsgantt-improved/dist/jsgantt.css";



/*
 Форматирования строк и ячеек
 */

.gmajorheading, .gminorheading, .gminorheadingwkend, .gtaskcell, .gtaskcellcurrent, .gtaskcellwkend,
.gtaskheading, .gname, .gtaskname, .gres, .gdur, .gcomp, .gstartdate, .gplanstartdate, .gplanenddate, .gcost, .genddate{
  height: 22px;
}

.glineitem, .gmileitem{
  .gmajorheading, .gminorheading, .gminorheadingwkend, .gtaskcell, .gtaskcellcurrent, .gtaskcellwkend,
  .gtaskheading, .gname, .gtaskname, .gres, .gdur, .gcomp, .gstartdate, .gplanstartdate, .gplanenddate, .gcost, .genddate{
    height: 100px;
  }
}


.gmajorheading, .gminorheading, .gminorheadingwkend,
.gtaskcell, .gtaskcellcurrent, .gtaskcellwkend,
.gtaskheading, .gname, .gtaskname, .gres,
.gdur, .gcomp, .gstartdate, .gplanstartdate,
.gplanenddate, .gcost, .genddate,
.gadditional-pTopic,
.gtasklist{
  border: #d2d2d2 1px solid;
}



//.gitemhighlight{
//  color: red !important;
//}


/*
  Форматирование диаграмм
 */
.gtaskblue, .gtaskred, .gtaskgreen, .gtaskyellow, .gtaskpurple, .gtaskpink{
  height: 60px;
}

.glineitem .gtaskbarcontainer {
 top: -25px;
}

.gtaskbluecomplete, .gtaskredcomplete, .gtaskgreencomplete, .gtaskyellowcomplete, .gtaskpurplecomplete, .gtaskpinkcomplete {
  display: none;
}

/*
 Форматирвоание линий/стрелок
 */

.glinediv{
  display: none;
}

/*
  Форматирование колонок
 */
.glistlbl{
  width: 100px;
}
.gstartdate, .genddate, .gcomp, .gres, .gdur {
  display: none;
}

.gadditional-pTopic {
  width: 150px;
  max-width: 150px;
  padding: 0 15px;
}
.gmainleft {
  width: 600px;
}

.gadditional-pTopic div{
  white-space: normal;
  font-size: 17px;
  font: 400 13.3333px Arial;
}

.glistlbl {
  width: 100% !important;
}

.ggroupitem span{
  padding-left: 10px;
}

.gtaskname div, .gtasknam{
  font-size: 16px;
}


.gantt-inputtable {
  border: 0;
}

.glistlbl{
  width: 300px;
}

.gtaskeditable {
  overflow: hidden !important;
}

textarea{
  max-height: 300px !important;
  height: 90px !important;
  margin: 0 !important;
  border: 0;
  width: 99%;
  resize: none;
  background: 0;
}

.gtaskname div, .gtaskname {
  max-width: none;
  min-width: 0;
  width: 300px;
}

.gtasktableh .gtaskname {
  max-width: none;
  min-width: 0;
  width: 300px;
  padding-left: 20px;
}

.glineitem .gtaskname div {
  white-space: normal;
  padding-left: 20px;
}

.gtaskblue_gru{
  height: 60px;
  background: linear-gradient(to bottom, rgba(30, 30, 30, 0.5) 0%, #3e3d3e 20%, #4f4e53 40%, #121214 70%, #0e151d 100%);
}
